name: dlu-schedule-bot
on:
  push:
    branches: [ master ]
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    # checkout repo to master
      - name: Checkout
        uses: actions/checkout@v2

      # login docker hub
      - name: Login docker hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_SECRETS }}

      # setup docker build
      - name: setup docker Buildx
        uses: docker/setup-buildx-action@v1
        id: buildx

      # build and push docker image
      - name: build and push docker images
        uses: docker/build-push-action@v2
        id: docker_build
        with:
          context: ./
          file: ./docker/Dockerfile.prod
          builder: ${{ steps.buildx.output.name }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/images:ucars-testing.staging.fe.latest

      # verify docker images
      - name: Verify
        run: echo ${{ steps.docker_build.outputs.digest }}

      # redeploy to vps use ssh action
      - name: Executing remote command
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          PORT: ${{ secrets.PORT }}
          KEY: ${{ secrets.SSHKEY }}
          script: sh /home/kevin/docker/ucars-testing/redeploy.fe.sh

